<!-- Footer -->

<!-- hr -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          {% for social in site.socials %}
          <li class="list-inline-item">
            <a href="{{ social.url }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
				{% if social.url contains "mailto" %}
                <i class="fas fa-{{ social.network }} fa-stack-1x fa-inverse"></i>
				{% else %}
                <i class="fab fa-brands fa-{{ social.network }} fa-stack-1x fa-inverse"></i>
				{% endif %}
              </span>
            </a>
          </li>
          {% endfor %}
        </ul>
        <p class="copyright text-muted">{{ site.title }} &copy; 2017-{{ 'now' | date: "%Y" }}</p>
      </div>
    </div>
  </div>
</footer>
