<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}"><img class="rounded-circle navbar-logo" src="/img/ninjuku-studio.png" alt="Ninjuku Studio's logo"> {{ site.title | escape }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
	  {% assign links = site.data.nav %}
		{% for link in links %}
			{% if page.url contains link.url %}
				{% assign class = 'active' %}
				{% if site.url contains link.url and page.url != link.url %}
					{% assign class = nil %}
				{% endif %}
			{% else %}
				{% assign class = nil %}
			{% endif %}
        <li class="nav-item">
          <a class="nav-link {{ class }}" href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
        </li>
		{% endfor %}
      </ul>
    </div>
  </div>
</nav>
