  <section class="container white">
    <div class="row">
      <div class="col-lg-12 col-md-12 mx-auto">

        <h1 class="section-title">Services</h1>

        <!-- Home Services List -->
	  </div>
	</div>
	<div class="row">
        {% for service in site.services | where: 'active', true | limit: 3 %}
	  <div class="col-lg-4 col-md-6">
        <article class="post-preview">
          <a href="{{ service.url | prepend: site.baseurl | replace: '//', '/' }}">
            <em class="service-icon fa-solid fa-{{ service.icon }}">&nbsp;</em>
            <h2 class="post-title">{{ service.title }}</h2>
            {% if service.subtitle %}
            <h3 class="post-subtitle">{{ service.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ service.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
        </article>
	  </div>
        {% endfor %}
	</div>
        <!-- Pager -->
    {% assign activeserve = site.services | where: 'active', true %}
    {% if activeserve.size > 3 %}
    <div class="clearfix">
          <a class="btn btn-primary float-right" href="/services">View All Services &rarr;</a>
    </div>
    {% endif %}
  </section>
  